<div class="services-item__thumbnail">
	<a href="%%POST-URL%%" class="services-item__thumbnail__link">
		%%IMAGE link="false"%%
		%%TITLE%%
	</a>
</div>
<div class="services-item__content">
	%%DESC%%
	%%BUTTON%%
</div>