<blockquote>
	%%AVATAR%%
		<header>
  		<h5 class="title">%%NAME%%<h5/>
  		%%POSITION%%
  		%%EMAIL%%
  		%%COMPANY%%
  	</header>
	<div class="tm-testi__item-body">
		%%CONTENT%%
	</div>
</blockquote>