<div class="team-item__body">
	%%PHOTO wrap="div" class="team-listing_photo"%%
	%%POSITION wrap="small" class="team-listing_position"%%
	%%NAME wrap="h5" class="team-listing_name" link="true"%%
	%%PHONE%%
	%%LOCATION%%
	%%EMAIL%%
	%%EXCERPT wrap="div" class="team-listing_desc"%%
</div>
<div class="team-item__footer">
	%%SOCIALS wrap="div" class="team-listing_socials"%%
	%%BUTTON%%
</div>