<div class="team-listing_wrap">
	<div class="team-listing_image">
		%%PHOTO wrap="div" class="team-listing_photo"%%
		<div class="team-listing_content">
			%%EXCERPT wrap="div" class="team-listing_desc"%%
			%%SOCIALS wrap="div" class="team-listing_socials"%%
			%%BUTTON%%
		</div>
	</div>
	<div class="team-listing_person_info">
		%%POSITION wrap="small" class="team-listing_position"%%
		%%NAME wrap="h5" class="team-listing_name" link="true"%%
		%%PHONE%%
		%%LOCATION%%
		%%EMAIL%%
	</div>
</div>